#sfondo{
    background-color:white;
}
#nome{
    font:30px;
    font-weight: bold;
    color:#1565C0;
    font-family: Helvetica;
    }
#versione{
    font:25px;
    font-style: italic;
    }
#creatori{
    font:18px;
    text-decoration: underline;
    color: gray;
}
#creatore{
    color:gray;
    font-style: italic;
}

