EmployeeListElement{
    border: 1px solid #CFD8DC;
    color: black;
    border-width: 1px 0;
    margin:0px;
    padding:20px;
}
EmployeeListElement > QLabel{
    width:50px;
}

#is_clicked{
    background-color: blue;
}
#is_clicked > QLabel{
    color:white;
    font-weight: 600;
}


#is_not_clicked{
    background-color: white;
}
#is_not_clicked > QLabel{
    color:black;
}
