
EmployeeListElement{
    color: black;
    margin:0px;
}
#is_clicked{
    background-color: blue;
}
#is_clicked *{
    background-color: blue;
}
#is_clicked > QLabel{
    color:white;
    font-weight: 600;
}
EmployeeListElement > QLabel{
    padding: 20px 10px 20px 10px ;
    border: 1px solid #CFD8DC;
    /*border-width:0 0 1px 0;*/
    border-width:0 1px 1px 0;
}

#is_not_clicked{
    background-color: white;
}
#is_not_clicked *{
    background-color: white;
}
#is_not_clicked > QLabel{
    color:black;
}
